---
import BaseLayout from '#layouts/base-layout.astro'
import DocsLayout from '#layouts/docs-layout.astro'
import { createRoute } from 'astro-typesafe-routes/create-route'
import { $path } from 'astro-typesafe-routes/path'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { Code } from 'astro-expressive-code/components'
import IconArrowBack from '@uswds/uswds/img/usa-icons/arrow_back.svg'
import Icon from '#components/icon.astro'
import { formatFhirPath } from '#utils/format-fhir-path'

export const Route = createRoute({
  routeId: '/data-dictionary/[...slug]',
})

export type Props = {
  post: CollectionEntry<'dataDictionary'>
}

export const getStaticPaths = Route.createGetStaticPaths<Props>(async () => {
  const fields = await getCollection('dataDictionary')
  return fields.map((field) => ({
    params: { slug: field.id },
    props: { post: field },
  }))
})

const { post } = Astro.props
const d = post.data

const description = d.description ?? ''

const fhirPath = d.fhirPath ? await formatFhirPath(d.fhirPath) : null
---

<BaseLayout title={d.fieldName} description={description}>
  <DocsLayout showSideNav={false}>
    <nav class="margin-bottom-2 font-sans-sm">
      <a href={$path({ to: '/data-dictionary' })}>
        <Icon icon={IconArrowBack} size={2} /> Back to Search
      </a>
    </nav>

    <article data-pagefind-body>
      <h1 class="margin-bottom-1" data-pagefind-meta="title">{d.fieldName}</h1>
      {
        d.sourceColumn && (
          <div class="usa-prose">
            <code data-pagefind-meta="sourceColumn" data-pagefind-weight="7">
              {d.sourceColumn}
            </code>
          </div>
        )
      }

      {
        description && (
          <p class="font-sans-md" data-pagefind-meta="description" data-pagefind-weight="3">
            {description}
          </p>
        )
      }

      <div class="usa-prose margin-top-5">
        <h2 class="font-sans-lg" data-pagefind-ignore>Field Metadata</h2>
        <dl class="grid-row grid-gap margin-y-3">
          {
            d.fhirResource && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  FHIR Resource
                </dt>
                <dd class="margin-left-0">{d.fhirResource}</dd>
              </div>
            )
          }
          {
            fhirPath && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  FHIRPath
                </dt>
                <dd class="margin-left-0">
                  <Code code={fhirPath} lang="fhirpath" />
                </dd>
              </div>
            )
          }
          {
            d.coverageType && d.coverageType.length > 0 && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  Coverage / Claim Type
                </dt>
                <dd class="margin-left-0">
                  <ul class="usa-list">
                    {d.coverageType.map((v) => (
                      <li>{v}</li>
                    ))}
                  </ul>
                </dd>
              </div>
            )
          }
          {
            d.sourceView && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  Source View
                </dt>
                <dd class="margin-left-0">
                  <code>{d.sourceView}</code>
                </dd>
              </div>
            )
          }
          {
            d.sourceColumn && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  Source Column
                </dt>
                <dd class="margin-left-0">
                  <code>{d.sourceColumn}</code>
                </dd>
              </div>
            )
          }
          {
            d.referenceTable && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  Reference Table
                </dt>
                <dd class="margin-left-0">{d.referenceTable}</dd>
              </div>
            )
          }
          {
            d.sources && d.sources.length > 0 && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  Sources
                </dt>
                <dd class="margin-left-0">
                  <ul class="usa-list">
                    {d.sources.map((v) => (
                      <li>{v}</li>
                    ))}
                  </ul>
                </dd>
              </div>
            )
          }
          {
            d.bfdDerived && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  Derived
                </dt>
                <dd class="margin-left-0">{d.bfdDerived}</dd>
              </div>
            )
          }
          {
            d.profiles && d.profiles.length > 0 && (
              <div class="tablet:grid-col-12 margin-bottom-2">
                <dt class="font-sans-md text-bold" data-pagefind-ignore>
                  Profiles
                </dt>
                <dd class="margin-left-0">
                  <ul class="usa-list">
                    {d.profiles.map((v) => (
                      <li>{v}</li>
                    ))}
                  </ul>
                </dd>
              </div>
            )
          }
        </dl>
        {
          d.example && (
            <section class="margin-y-3">
              <h2 class="font-sans-lg" data-pagefind-ignore>
                Example
              </h2>
              <Code code={d.example} lang="js" />
            </section>
          )
        }
        {
          d.notes && (
            <section class="margin-y-3">
              <h2 class="font-sans-lg" data-pagefind-ignore>
                Notes
              </h2>
              <p data-pagefind-weight="2">{d.notes}</p>
            </section>
          )
        }
        {
          ((d.cclfMapping && d.cclfMapping.length > 0) || (d.ccwMapping && d.ccwMapping.length > 0)) && (
            <section class="margin-y-3">
              <h2 class="font-sans-lg" data-pagefind-ignore>
                Mappings
              </h2>
              <dl>
                {d.cclfMapping && d.cclfMapping.length > 0 && (
                  <>
                    <dt class="font-sans-md text-bold" data-pagefind-ignore>
                      CCLF
                    </dt>
                    <dd class="margin-left-0 margin-bottom-2">
                      <ul class="usa-list">
                        {d.cclfMapping.map((m) => (
                          <li>
                            <code data-pagefind-weight="5">{m}</code>
                          </li>
                        ))}
                      </ul>
                    </dd>
                  </>
                )}
                {d.ccwMapping && d.ccwMapping.length > 0 && (
                  <>
                    <dt class="font-sans-md text-bold" data-pagefind-ignore>
                      CCW
                    </dt>
                    <dd class="margin-left-0">
                      <ul class="usa-list">
                        {d.ccwMapping.map((m) => (
                          <li>
                            <code data-pagefind-weight="5">{m}</code>
                          </li>
                        ))}
                      </ul>
                    </dd>
                  </>
                )}
              </dl>
            </section>
          )
        }
      </div>
    </article>
  </DocsLayout>
</BaseLayout>
