---
import LogoAB2D from '#assets/images/logo-ab2d-sm.svg?url'
import LogoBCDA from '#assets/images/logo-bcda.svg?url'
import LogoDPC from '#assets/images/logo-dpc.svg?url'
import Programmer from '#assets/images/programmer.svg?url'
import Button from '#components/button.astro'
import Card from '#components/card.astro'
import TwoColumn from 'components/two-column.astro'

import BaseLayout from '../layouts/BaseLayout.astro'
import DocsLayout from 'layouts/DocsLayout.astro'
---

<BaseLayout title="About Blue Button" description="">
  <DocsLayout showSideNav={false}>
    <TwoColumn image={Programmer} class="padding-y-7">
      <h1>About Blue Button</h1>
      <p>
        Blue Button 2.0 (BB2.0) API enables software developers to build trusted applications, services, and research
        programs that benefit Medicare enrollees. As a <a
          href="/api-documentation#technical-specifications-and-standards">standards-based API</a
        >, BB2.0 provides claims data for more than 64 million people with Medicare.
      </p>
    </TwoColumn>
    <h2>What are the other CMS claims-based FHIR APIs?</h2>
    <ul class="usa-card-group flex-justify-center padding-top-4">
      <Card heading="Data at the Point of Care" img={LogoDPC} imgSize={15}>
        The Data at the Point of Care (DPC) API enables healthcare providers with claims data to fill in gaps in patient
        history at the point of care and deliver high-quality care to Medicare enrollees.
        <Button slot="buttonSlot" link="https://dpc.cms.gov/">Visit DPC </Button>
      </Card>
      <Card heading="Beneficiary Claims Data API" img={LogoBCDA} imgSize={15}>
        The Beneficiary Claims Data API (BCDA) helps Alternative Payment Model participants provide high-quality,
        coordinated care by making it easier to access bulk Medicare Parts A, B, and D claims data.
        <Button slot="buttonSlot" link="https://bcda.cms.gov/">Visit BCDA </Button>
      </Card>
      <Card heading="Claims Data to Part D Sponsors" img={LogoAB2D} imgSize={15}>
        The AB2D API provides stand-alone Prescription Drug Plan sponsors with claims data to enhance the use of
        medications and improve the long term health of enrollees.
        <Button slot="buttonSlot" link="https://ab2d.cms.gov/">Visit AB2D </Button>
      </Card>
    </ul>
  </DocsLayout>
</BaseLayout>
