---
import { getCollection } from 'astro:content'

import BaseLayout from '#layouts/base-layout.astro'
import DocsLayout from '#layouts/docs-layout.astro'
import type { RouteId, RouteOptions } from 'astro-typesafe-routes/path'
import Link from '#components/link.astro'
import { type RoutesArray } from '#utils/types'

type SitemapLink<T extends RouteId> = RouteOptions<T> & {
  title: string
  children?: (RouteOptions<T> & { title: string })[]
}

type SitemapLinks = SitemapLink<RouteId>[]

const dataPages = await getCollection('dataDocs')
const apiPages = await getCollection('apiDocs')

const sitemapLinks = [
  {
    title: 'Home',
    to: '/' as const,
    params: null,
  },
  {
    title: 'About',
    to: '/about',
    params: null,
  },
  {
    title: 'API Documentation',
    to: '/api-documentation',
    params: null,
    children: apiPages.map((page) => ({
      title: page.data.title,
      to: '/api-documentation/[...slug]',
      params: { slug: page.id },
    })) satisfies RoutesArray<'/api-documentation/[...slug]'>,
  },
  {
    title: 'BB2 Data',
    to: '/bb2-data',
    params: null,
    children: dataPages.map((page) => ({
      title: page.data.title,
      to: '/bb2-data/[...slug]',
      params: { slug: page.id },
    })) satisfies RoutesArray<'/bb2-data/[...slug]'>,
  },
  {
    title: 'Production Access',
    to: '/production-access',
    params: null,
  },
  {
    title: 'Support',
    to: '/support',
    params: null,
  },
] satisfies SitemapLinks
---

<BaseLayout title="Sitemap" description="">
  <DocsLayout showSideNav={false}>
    <div class="margin-bottom-4">
      <h1>Sitemap</h1>
    </div>
    <div class="usa-prose">
      <ul>
        {
          sitemapLinks.map((link) => (
            <li>
              <Link to={link.to}>{link.title}</Link>

              {link?.children ? (
                <ul>
                  {link.children.map((child) => (
                    <li>
                      <Link to={child.to} params={child.params}>
                        {child.title}
                      </Link>
                    </li>
                  ))}
                </ul>
              ) : null}
            </li>
          ))
        }
      </ul>
    </div>
  </DocsLayout>
</BaseLayout>
