---
import Swagger from '#assets/images/swagger.svg'
import ArrowForward from '@uswds/uswds/img/usa-icons/arrow_forward.svg'
import Code from '@uswds/uswds/img/usa-icons/code.svg'

import Icon from './icon.astro'
import Link from './link.astro'

type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<div class="bg-primary-gradient">
  <div class="grid-container padding-y-8">
    <h1
      class="hero-title text-white font-body-3xl measure-1 margin-bottom-0 line-height-sans-2 text-semibold text-balance"
    >
      {title}
    </h1>
    <p class="hero-paragraph line-height-sans-4 measure-5 text-white">
      {description}
    </p>
    <div class="grid-row grid-gap margin-top-2">
      <div class="tablet:grid-col-auto margin-top-2">
        <Link href="/api-documentation" variant="inverse" class="hero-button width-full" showIcon={false}>
          Get started
          <Icon icon={ArrowForward} color="white" size={3} />
        </Link>
      </div>
      <div class="tablet:grid-col-auto margin-top-2">
        <Link
          href="https://sandbox.bluebutton.cms.gov/docs/openapi"
          variant="inverse"
          class="hero-button width-full"
          showIcon={false}
        >
          API reference <Icon icon={Swagger} color="white" size={3} />
        </Link>
      </div>
    </div>
  </div>
</div>
