---
import { getCollection } from 'astro:content'
import BaseLayout from '#layouts/base-layout.astro'
import DocsLayout from '#layouts/docs-layout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('codebooks')
  const csvVars = await getCollection('csvVariables')

  const addl = csvVars.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }))

  const cbs = posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }))

  return [...cbs, ...addl]
}

const { post } = Astro.props
---

<BaseLayout title={post.id} description="">
  <DocsLayout showSideNav={false}>
    <div class="usa-prose margin-y-6">
      {
        post?.collection === 'codebooks' ? (
          <Fragment>
            <h1>Variable: {post.data.title}</h1>
            <p class="usa-intro">{post.data.label}</p>

            <h2>Description</h2>
            <p>{post.data.description || 'n/a'}</p>

            <h2>Comment</h2>
            <p>{post.data.comment || 'n/a'}</p>

            <h2>Values</h2>
            {post.data.values && post.data.values.length > 0 ? (
              <>
                <p>This variable is coded, and will contain one of the following values.</p>
                <table>
                  <caption>Values for</caption>
                  <thead>
                    <th>Value</th>
                    <th>Description</th>
                  </thead>
                  <tbody>
                    {post.data.values.map((val) => (
                      <tr>
                        <td>{val.code}</td>
                        <td>{val.text}</td>
                      </tr>
                    ))}
                  </tbody>
                </table>
              </>
            ) : (
              <p>n/a</p>
            )}
            <h2>Other Info</h2>
            <p>Some additional information on this variable:</p>
            <ul>
              <li>
                <strong>Short Name: </strong>
                {post.data.shortName}
              </li>
              <li>
                <strong>Long Name: </strong>
                {post.data.longName}
              </li>
              <li>
                <strong>Type: </strong>
                {post.data.type}
              </li>
              <li>
                <strong>Length: </strong>
                {post.data.length}
              </li>
              <li>
                <strong>Source: </strong>
                {post.data.source}
              </li>
              <li>
                <strong>Value Format: </strong>
                {post.data.valueFormat}
              </li>
            </ul>
          </Fragment>
        ) : post.collection === 'csvVariables' ? (
          <Fragment>
            <h1>Variable: {post.data.fieldName}</h1>
            <p class="usa-intro">{post.data.fieldLabel}</p>
            {post.data.sourceDefinition?.map((sd) => (
              <p>{sd}</p>
            ))}
            <ul>
              <li>
                <strong>Source System:</strong> {post.data.sourceSystem}
              </li>
              <li>
                <strong>Source Field:</strong> {post.data.fieldName}
              </li>
              <li>
                <strong>Version:</strong> {post.data.versionAdded}
              </li>
            </ul>
          </Fragment>
        ) : null
      }
    </div>
  </DocsLayout>
</BaseLayout>
